[submodule "Updater"]
	path = Updater
	url = git@github.com:developforapple/updater.git
[submodule "App"]
	path = App
	url = git@github.com:developforapple/spproject.git
[submodule "AppStorePicMaker"]
	path = AppStorePicMaker
	url = git@github.com:developforapple/picMaker.git
